@font-face {
    font-family: 'BiancoSans';
    src: url('../../font/BiancoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BiancoSans';
    src: url('../../font/BiancoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

.services {
  background-color: var(--warm-beige);
  color: var(--charcoal-black);
}

.services-title {
  color: var(--deep-merlot);
}

.service-card {
  background-color: var(--soft-sand);
  border: 1px solid var(--muted-taupe);
}

.service-card:hover {
  background-color: var(--blush-pink);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.service-icon {
  color: var(--primary-color);
}

.service-title {
  color: var(--chocolate-brown);
}
